
body {
margin: 0px;
padding: 0px;
color: #1e2f4b;
font-family: Tahoma;
}

ul {
margin: 0px;
}

h1 {
font-size: 50px;
margin: 20px 50px;
text-align: left;
}

h2 {
font-size: 40px;
text-align: center;
margin: 0px;
font-family: Arial;
}

h3 {
font-size: 30px;
margin: 0px 0px 0px 50px;
font-family: Arial;
}




.header {
width: auto;
height: auto;
background-color: #365486;
}

.nav {
width: auto;
height: auto;
margin: 0px;
padding: 0px;
background-color: #7FC7D9;
}

.content {
width: auto;
height: auto;
margin: 0px 0px 0px 0px;
background-color: #f9f9f9;
border: 2px solid #f9f9f9;
}

.footer {
width: auto;
height: auto;
margin: 0px;
background-color: #365486;
}



.logo {
display: inline-block;
width: 200px;
height: 100px;
float: left;
margin: 4px;
background-image: url('logo.jpg');
background-size: cover;
background-position: center;
}

.title {
display: inline-block;
width: auto;
height: 100px;
margin: 4px;
color: white;
}


.nav-1, .nav-2, .nav-3, .nav-4, .nav-5 {
width: 150px;
height: 30px;
font-size: 20px;
display: inline-block;
margin: 0px 0px;
padding: 11px 0px 6px 0px;
background-color: #7FC7D9;
text-align: center;
color: white;
}

.nav-1:hover, .nav-2:hover, .nav-3:hover, .nav-4:hover, .nav-5:hover {
background-color: #4fb2cb;
}

.nav-1 {
margin: 0px 0px 0px 25px;
}

.nav-2 {

}

.nav-3 {

}

.nav-4 {

}

.nav-5 {

}


.list-1 {
margin: 10px 0px;
}

.photo-cite {
font-size: 15px;
margin: -15px auto 0px auto;
text-align: center;
color: gray;
}

.cite-link {
color: #1e2f4b;
}

.body-content-people {
font-size: 20px;
margin: 0px 10% 0px 0px;
width: 50%;
height: auto;
display: inline-block;
}

.img-people {
display: inline-block;
width: 225px;
height: auto;

}

.body-content {
font-size: 20px;
margin: 30px auto;
}

.main-img {
width: 100%;
height: inherit;
}

.card-image, .card-title, .card-content, .card-content-citations {
width: 50%;
height: auto;
margin: 25px auto;
background-color: white;
}

.card-image {
margin: 50px auto 25px auto;
width: 60%;
height: 550px;
}

.card-title {
height: auto;
padding: 20px 25px;
background-color: #f9f9f9;
}

.card-content {
padding: 20px 35px 25px 35px;
}

.card-content-citations {
margin: 100px auto 50px auto;
padding: 20px 25px 25px 25px;
}


a {
text-decoration: none;
color: white;
}

.logo-2 {
display: inline-block;
width: 200px;
height: 100px;
margin: 4px;
background-color: white;
background-image: url('logo.jpg');
background-size: cover;
background-position: center;
}

.footer-info {
display: inline-block;
width: 350px;
height: 80px;
float: right;
margin: 4px;
background-color: #365486;
padding: 10px 50px;
font-size: 15px;
text-align: right;
color: white;
}

.hr-footer {
margin: -5px 0px 5px 0px;
}




