* {
    color: black;
}

.one {
    background-color: #6D2932;
}

.two {
    background-color: black;
}

.three {
    background-color: #6D2932;
}

.four { 
    background-color: black;
}

.main-text {
    color: white;
}

.accent-text {
    color: white;
    font-size: 20px;
}

.white {
    color: white;
}

.hover:hover {
    color: #d42a41;
}

.hover:hover .icon-img {
    filter: invert(30%) sepia(96%) saturate(5732%) hue-rotate(341deg) brightness(89%) contrast(84%);
}

.nav-image {
    filter: invert(93%) sepia(100%) saturate(25%) hue-rotate(22deg) brightness(107%) contrast(106%);
}

.icon-img {
    filter: invert(93%) sepia(100%) saturate(25%) hue-rotate(22deg) brightness(107%) contrast(106%);
}

.title-button {
    color: white;
}

.title-button:hover {
    color: #561C24;
}

.item {
    background-color: black;
    border: 2px solid white;
}

.input-label {
    color: white;
}

.input-label-a {
    color: grey;
}

.input, .input-a {
    border: 1px solid rgb(150, 150, 150);
}

.input:hover, .input-a:hover {
    border: 1px solid #561C24;
    box-shadow: 0px 0px 5px #561C24;
}