:root {
--main: #43215c;
--accent: #46c0bf;
--gray: rgb(252, 252, 252);
--section: #f8f8f8;
--text: #43215c;
}

* {
font-family: Verdana;
}


body {
margin: 0px;
padding: 0px;
background-color: var(--gray);
}

.header {
display: block;
width: 100%;
height: 100px;
margin: 0px;
padding: 0px;
background-color: white;
}

.nav {
position: sticky;
top: 0;
display: block;
width: 100%;
height: auto;
margin: 0px;
padding: 0px;
background-color: var(--main);
z-index: 100;
}

.content {
display: block;
width: 100%;
height: auto;
margin: 0px auto 100px auto;
padding: 0px;
background-color: var(--gray);
}

.footer {
display: block;
width: 100%;
height: 100px;
margin: 0px;
padding: 1px 0px;
background-color: var(--accent);
box-shadow: 0px 0px 10px 5px rgb(200, 200, 200);
}


.logo {
height: 100px;
width: 100px;
float: left;
mix-blend-mode: multiply;
}

.header-title {
display: inline-block;
height: auto;
width: 50%;
margin: 0px;
font-size: 30px;
padding: 20px 25px 0px 25px;
font-weight: 300;
color: rgb(65, 65, 65);
}

.header-sub {
display: inline-block;
height: auto;
width: 50%;
margin: 0px;
font-size: 20px;
padding: 0px 27px;
font-weight: 300;
color: rgb(100, 100, 100);
}



.nav-ul {
width: auto;
height: auto;
margin: 0px;
background-color: var(--main);
}

.nav-buttons {
display: inline-block;
height: auto;
width: 120px;
padding: 15px 25px;
text-align: center;
transition: 0.3s;
}

.nav-buttons:hover {
background-color: var(--accent);
}

.nav-buttons-text {
display: inline-block;
border: 0px;
height: inherit;
width: inherit;
color: white;
font-size: 20px;
}



.title {
width: auto;
height: auto;
background-color: var(--gray);
}

.title-a {
background-image: url('https://surreylearningbydesign.ca/student-learning-plans/cms-data/gallery/blog/studentlearningplans/sullivan-heights-secondary-22-23/img_4415.jpg');
background-size: cover;
background-position: center;
}

.title-b {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/5/iStock-1007179030-accessibility.jpg');
background-size: cover;
background-position: center;
}

.title-c {
background-image: url('https://live.staticflickr.com/7368/10236190613_31d014c4c2_z.jpg');
background-size: cover;
background-position: center;
}

.title-d {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/5/level-up-by-gabe-galedo-1.jpg');
background-size: cover;
background-position: center;
}

.title-e {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/5/school-registration-still.jpg');
background-size: cover;
background-position: center;
}

.title-f {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/9715/MBB-WBB_BallHoop.jpg');
background-size: cover;
background-position: center;
}

.screen {
width: inherit;
height: inherit;
backdrop-filter: brightness(70%);
padding: 300px 20% 100px 20%;
}

.title-title {
font-size: 45px;
color: white;
font-weight: 600;
}

.title-button {
width: auto;
padding: 20px 25px;
text-align: center;
background-color: var(--main);
transition: 0.3s;
border: 2px solid var(--main);
}

.title-button:hover {
background-color: whitesmoke;
color: var(--main);
border: 2px solid var(--main);
}

.title-button-a {
display: inline-block;
width: auto;
height: auto;
text-decoration: none;
color: white;
font-weight: 600;
margin: 0px 20px 0px 0px;
}

.center {
width: 100%;
height: auto;
padding: 100px 0px 100px 0px;
background-color: var(--section);
box-shadow: 0px 5px 5px 5px rgb(200, 200, 200);
}

.center-title {
text-align: center;
margin: 0px auto;
font-size: 35px;
color: var(--text);
}

.center-divider {
margin: 20px auto;
width: 30%;
height: 7px;
border: 0px;
background-color: var(--main);
}

.center-text {
margin: 10px auto;
width: 500px;
font-size: 20px;
color: black;
text-align: center;
}

.multi {
width: fit-content;
height: auto;
padding: 50px 0px;
margin: 0px auto;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.multi-item {
display: inline-block;
height: auto;
width: 300px;
margin: 50px 30px;
padding: 50px 30px;
background-color: white;
border-radius: 5px;
border: 2px solid var(--main);
box-shadow: 5px 5px black;
transition: 0.3s;
}

.multi-item:hover {
scale: 1.1;
}

.multi-item-title {
font-size: 30px;
margin: 0px;
color: var(--text);
}

.divider {
display: inline-block;
margin: 10px auto;
width: 100%;
height: 5px;
border: 0px;
background-color: var(--main);
}

.multi-text {
font-size: 20px;
margin: 20px 0px 0px 0px;
color: var(--text);
}



.split {
width: 100%;
height: auto;
margin: 0px auto 100px auto;
background-color: var(--accent);
box-shadow: 0px 0px 10px 5px rgb(200, 200, 200);
}

.split-left {
display: inline-block;
height: 500px;
width: 50%;
margin: 25px;
}

.left-one {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/5/bc-multiculturalism-antiracism-thais-dacious.jpg');
background-size: cover;
}

.left-two {
background-image: url('https://media.surreyschools.ca/media/Default/pgg/5/Spring%20Break%20Stranger%20Danger%202024.jpg');
background-size: cover;
}

.left-three {
background-image: url('https://media.surreyschools.ca/media/Default/frl/0/level-up-by-gabe-galedo-3.JPG');
background-size: cover;
}

.left-four {
background-image: url('https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F717976479%2F2034887676353%2F1%2Foriginal.20240312-213058?w=600&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C19%2C642%2C321&s=e4292d9840bc0636bd6284cf46bd5ef9');
background-size: cover;
}


.split-right {
position: relative;
bottom: 130px;
display: inline-block;
width: 25%;
height: auto;
padding: 50px 10% 50px 50px;
}

.split-right-title {
font-size: 35px;
margin-right: 20px; 
color: var(--text);
}

.split-text {
font-size: 20px;
margin-right: 20px;
color: var(--text);
}

.split-right-a {
position: relative;
bottom: 130px;
display: inline-block;
width: 25%;
height: auto;
padding: 50px 50px 50px 10%;
text-align: right;
}




.iframe-frame {
height: inherit;
width: 100%;
border: 0px;
}

.iframe-small {
height: 600px;
width: 70%;
margin: 100px auto;
}

.iframe-small-frame {
height: inherit;
float: right;
width: 50%;
border: 0px;
border-radius: 2%;
border: 2px solid var(--main);
box-shadow: 5px 5px black;
}

.iframe-small-left {
height: inherit;
width: 45%;
float: left;
background-color: white;
color: var(--text);
border-radius: 2%;
border: 2px solid var(--main);
box-shadow: 5px 5px black;
}

.iframe-small-title {
font-size: 40px;
float: left;
text-align: center;
width: 100%;
margin: 100px 0px 25px 0px;
}

.iframe-small-text {
font-size: 20px;
float: left;
text-align: center;
width: 80%;
padding: 0px 10%;
margin: 50px 0px 25px 0px;
}

form {
width: 30%;
margin: auto;
}

.inputtxt {
width: 100%;
height: 50px;
margin: 10px 0px 15px 0px;
}

.labeltxt {
font-size: 20px;
}

.buttons {
font-size: 20px;
width: 100px;
height: 50px;
text-align: center;
background-color: var(--main);
color: white;
border: 2px solid var(--main);
}

.buttons:hover {
background-color: white;
color: var(--text);
}


.gallery {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-content: center;
width: 80%;
height: auto;
padding: 100px 0px;
margin: 0px auto;
}

.gallery-item {
height: auto;
width: auto;
box-shadow: -5px 5px 5px 3px rgb(200, 200, 200);
background-color: white;
background-size: cover;
background-position: center;
margin: 10px;
}

.gallery-a {
background-image: url('https://surreylearningbydesign.ca/student-learning-plans/cms-data/gallery/blog/studentlearningplans/sullivan-heights-secondary-22-23/img_4415.jpg');
}

.gallery-b {
background-image: url('https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhLIixF4x0rlzohyMvN1XMmN8NLE-IDJSsd4K2N7v3PO6sm_kHVJRCUI4XDMEh9orbz1EeIKT9uF6yjvVFWseY6xozrXjLa0KnM3iKhOLmeocvaJ6_7NOjuQo88W9BB6ecLPHJXvc17cb3d/s1600/Untitled.jpg');
}

.gallery-c {
background-image: url('https://images.squarespace-cdn.com/content/v1/5880ed96e6f2e15d650e020e/1633123706799-BVZM203CL7NNZ9EXYRJ9/Sullivan+Heights+Theatre+4.jpg');
}

.gallery-d {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmWq8s_8r3mu7XziQzxv4Q1yQAEsBRdw_OA8E6MKdjTQ&s');
}

.gallery-e {
background-image: url('https://live.staticflickr.com/7368/10236190613_31d014c4c2_z.jpg');
}

.gallery-f {
background-image: url('https://pbs.twimg.com/media/DDCX6oPV0AI-Yvf?format=jpg&name=large');
}

.gallery-g {
background-image: url('https://live.staticflickr.com/7139/7055146179_09b8647642_h.jpg');
}

.gallery-h {
background-image: url('https://news.gov.bc.ca/releases/2018EDUC0036-001247/image');
}

.gallery-i {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7NISS_Yd5EJBkL1zFRkZcBEebzT5KFo9UgulOLuFfgw&s');
}

.gallery-j {
background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwZlYPE5Y2sNsxAozJG-k4444UtkYLxwO0ymFnji-GMg&s');
}

.gallery-screen {
height: 200px;
width: 300px;
padding: 25px;
backdrop-filter: blur(0px) brightness(80%);
transition: 0.4s;
}

.gallery-screen:hover {
backdrop-filter: blur(5px) brightness(50%);
}

.gallery-title {
font-size: 25px;
margin: 10px 0px 0px 0px;
color: rgba(0, 0, 0, 0);
transition: 0.4s;
}

.gallery-divider {
display: inline-block;
margin: 10px auto 5px auto;
width: 30%;
height: 3px;
border: 0px;
background-color: rgba(0, 0, 0, 0);
transition: 0.4s;
}

.gallery-text {
font-size: 16px;
margin: 20px 0px 0px 0px;
color: rgba(0, 0, 0, 0);
transition: 0.4s;
}

.gallery-screen:hover .gallery-title, .gallery-screen:hover .gallery-text{
color: white;
}

.gallery-screen:hover .gallery-divider {
background-color: white;
width: 100%;
}




.footer-text {
float: right;
text-align: right;
height: 20px;
width: 70%;
margin: 5px 0px;
padding: 0px 50px;
color: var(--text)
}

.footer-text-container {
height: 50px;
margin: 20px 10px;
justify-content: center;
}










